<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="landingBody">
        <div class="landingLogo">
            <img src="images/1200px-Rajiv_Gandhi_International_Airport_Logo.svg.png" alt="">
        </div>

        <div class="landingHeading">
            <h1>Hyderabad Airpot <span>Admin</span>  portal</h1>
        </div>

        <div class="landingPicture">
            <img src="images/1.svg" alt="">
        </div>

        <div class="landingButton">
            <a href="/options">
                Get Started
            </a>
        </div>
    </div>
    
</body>
</html>