<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Options</title>
    <link rel="stylesheet" href="options.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="body">
        <div class="logo">
            <img src="images/1200px-Rajiv_Gandhi_International_Airport_Logo.svg.png" alt="">
        </div>
        <div class="picture">
            <img src="images/1.svg" alt="">
        </div>
        <div class="menu">
            <div class="option">
                <a href="/booking">
                    Book Flights
                </a>
            </div>
    
            <div class="option">
                <a href="/passengerInfo">
                    Passenger Info
                </a>
            </div>

            <div class="option">
                <a href="/staffInfo">
                    Staff Information 
                </a>
            </div>

            <div class="option">
                <a href="/airlines">
                    Airline Information
                </a>
            </div>

            <div class="option">
                <a href="/flight">
                    Flight Information
                </a>
            </div>
        </div>

       

    </div>
</body>
</html>